body{
  font-size: 10px;
  font-family: "Verdana", verrdana, sans-serif;
}

.header_container{
  /*display: block;*/
  width: 100%;
  height: 70px;
  position: relative;
}

.header_content_container{
  vertical-align: middle;
  height: 50px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

#header_logo_container{
  height: 40px;
  width: 320px;
  padding: 5px;
  position: relative;
  float:left;
}

.menu_container {
  height: 40px;
  margin-right: 2%;
  float: right;
  vertical-align: middle;
  margin-top: 6px;
}

#citation{
  font-style: italic;
}

ul{
    /*float: left;*/
    width: 100%;
    padding: 0;
    /*margin-top: 10px;*/
    list-style-type: none;
}

#menu_items{
  float: left;
  width: 10em;
  text-decoration: none;
  color: #000;
  text-align: center;
}

li {
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    font-weight: bold;
}

span{
  line-height: 2;
}

.body_container{
  width: 100%;
  position: relative;
}

.slider_container{
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  height: 400px;
}

.slider_arrow_container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  height: 350px;
  vertical-align: middle;
}

#slider_arrow_content_left{
  width: 4.5%;
  height: 100px;
  float: left;
  margin-top: 125px;
}

#slider_arrow_content_right{
  width: 4.5%;
  height: 100px;
  float: right;
  margin-top: 125px;
}

.slider_content_container{
  width: 87.5%;
  /*margin-left: 5%;
  margin-right: 5%;*/
  height: 350px;
  margin-left: 1.1%;
}

#slider_content{
  width: 23%;
  height: 320px;
  border: 1px solid black;
}

#slider_image{
  height: 270px;
  border: 1px solid blue;
}

#slider_text{
  height: 48px;
  border: 1px solid green;
}

.headline_container{
  width: 100%;
  position: relative;
  background-color: #6b6b6b;
  height: 280px;
  border-top: 2px solid black;
}

.headline_title_container{
  border-radius: 10px;
  width: 400px;
  height: 50px;
  background-color: #000;
  z-index: 1;
  margin: 0px auto;
  position: absolute;
  display: block;
  margin-left: 34.5%;
  margin-top: -28;
  text-align: center;
}

.headline_title_content{
  height: 30px;
  vertical-align: middle;
  margin-top: 17px;
  font-size: 14px;
  font-weight: bold;
}

.headline_content_container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  height: 180px;
}

#headline_content, #slider_arrow_content_left, #slider_arrow_content_right, .slider_content_container, #slider_content, #content_content, #footer_menu, #footer_social, #footer_text, #social_icon{
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#headline_content{
  width:23%;
  height: 180px;
  /*border: 1px solid white;*/
}

#headline_icon{
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff601;
}

.content_container{
  width: 100%;
  position: relative;
  height: 480px;
}

.content_content_container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 40px;
  height: 430px;
}

#content_content{
  width: 30%;
  height: 400px;
  /*border: 1px solid black;*/
}

#content_from_blog{
  height: auto;
  font-weight: 500;
}

#blog_link{
  color: #bb3414;
  font-weight: bold;
  text-decoration: none;
}

#border_blog{
  border-top: 1px solid #cacaca;
}

.footer_container{
  width: 100%;
  position: relative;
  height: 340px;
}

.footer_top{
  width:100%;
  height: 5px;
  border-top: 1px solid black;
  background-color: #fff601;
}

.footer_middle{
  width:100%;
  height: 40px;
  background-color: #000;
}

.footer_middle_content_container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5px;
  height: 30px;
}

.footer_bottom{
  width: 100%;
  height: 305px;
  background-color: #6b6b6b;
}

.footer_bottom_content_container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 30px;
  height: 220px;
  color: #fff;
}

#footer_menu{
  width: 24.4%;
  height: 210px;
  /*border: 1px solid white;*/
}

#footer_menu_items{
  width: 10em;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  text-align: left;
  line-height: 2;
}

#footer_social{
  width: 24.4%;
  height: 210px;
  /*border: 1px solid white;*/
}

#footer_text{
  width: 24.4%;
  height: 210px;
  /*border: 1px solid white;*/
}

#social_icon{
  width: 30px;
  height: 30px;
  margin-right: 3px;
  border: 1px solid white;
}

.footer_bottom_copyright_container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  height: 30px;
  /*border: 1px solid white;*/
}
